{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- CSS File -->
    <link rel="stylesheet" href="{% static '/css/bootstrap_minty.min.css' %}">
  </head>
  <body>
    <div class="container mt-3">
      <h1>Hello World!</h1>
      <p>Django App is running!</p>
      <img src="{% static '/img/school-icon.png' %}">
    </div>
    <!-- Javascript file  -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  </body>
</html>
